<div class="jumbotron text-center">
    <h1 class="display-4"><strong>Bienvenidos a Mercy Developer</strong></h1>
    <p class="lead">Servicio Técnico a tu alcance.</p>
    <img src="assets/img/imagenportada.webp" alt="portada" width="1300" height="500">
    <hr class="my-4">
     
</div>

<div class="container my-4">
   
    <div class="text-center mb-4">
      <h2>Nuestros Servicios</h2>
    </div>

    <div class="container my-4">
        <div class="row">
          <div class="col-md-4 mb-3">
            <div class="card" style="width: 100%;">
              <img src="assets/img/s.o.jpg" class="card-img-top" alt="Instalación de Sistemas Operativos">
              <div class="card-body text-center">
                <h5 class="card-title"><u>Instalación de Sistemas Operativos</u></h5>
                <p>Nuestro servicio de Instalación de Sistemas Operativos te asegura una configuración óptima y segura. Instalamos y configuramos Windows, macOS, Linux y más.</p>
                
              </div>
            </div>
          </div>
          <div class="col-md-4 mb-3">
            <div class="card" style="width: 100%;">
              <img src="assets/img/software.png" class="card-img-top" alt="Instalación de Software de Oficina">
              <div class="card-body text-center">
                <h5 class="card-title"><u>Instalación de Software de Oficina</u></h5>
                <p> Configuramos herramientas esenciales como Microsoft Office, Google Workspace entre otras aplicaciones que son clave para que puedas trabajar de forma eficiente y sin interrupciones.</p>
                
              </div>
            </div>
          </div>
          <div class="col-md-4 mb-3">
            <div class="card" style="width: 100%;">
              <img src="assets/img/reparacion.jpg" class="card-img-top" alt="Reparación de Computadoras">
              <div class="card-body text-center">
                <h5 class="card-title"><u>Reparación y Mantención de Computadoras</u></h5>
                <p>Mantén tu computadora en óptimas condiciones para su funcionamiento.  Desde la solución de problemas de hardware y software hasta la limpieza y optimización del sistema.</p>
            
              </div>
            </div>
          </div>
        </div>
      </div>
